table{
    font-family: "DejaVu Sans";
    width: 100%;
    color: deeppink;
    border-collapse: collapse;
}
td,th{
    border: 2px solid #1255d0;
    padding: 10px;
    text-align: center;
}
tr:nth-child(even){
    background-color: aqua;
}